// Fonts
$roboto:     "Roboto", sans-serif;
$lora:       "Lora", serif;

// Media queries
$extra-small-width:  320px;
$small-width:        576px;
$medium-width:       768px;
$large-width:        992px;
$extra-large-width:  1200px;

// Spacing
//
// Variables that define certain margin values to be used mostly
// for vertical spacing between and inside blocks.
//
// Markup:
// <div class="block">
//   this is a block with <code>margin-top: $space-md</code>
//   and <code>margin-bottom: $space-xl</code> on large screens.
// </div>
//
// Styleguide Layout.spacing
$grid-unit: 8px;
@function space($multiplier) {
	@return ($grid-unit * $multiplier);
}

$space-xxs: space(1);
$space-xs:  space(1);
$space-sm:  space(1);
$space-md:  space(2);
$space-lg:  space(4);
$space-xl:  space(6);
$space-xxl: space(8);

// Units:
$au: auto;
$n5: space(1);
$n10: space(1);
$n15: space(1);
$n20: space(2);
$n25: space(3);
$n30: space(3);
$n35: space(4);
$n40: space(5);
$n50: space(6);
$n60: space(7);
$n70: space(8);
$n80: space(9);
$n90: space(10);
$n100: space(11);
